
body {
	margin: 0;
	font-family: Helvetica, Arial, 微軟正黑體, sans-serif;
}

/* @font-face {
	font-family: Noto Serif CJK TC;
	src: url('../font/NotoSerifCJKtc-SemiBold.otf');
} */


/* .space {
	transform: translate(length, length)
} */

/* 導覽列 */ 
header{
	width: 100%;
	height: 97px;
	background: url('../img/01-header/bg_header.jpg');
	position: fixed;
	box-sizing: border-box;
	z-index: 100;
}

header .container {
	max-width: 1160px;
	margin: 0 auto;
	position: relative;
}

/* navbar */
.menuBox .navbar {	
	display: flex;
	padding: 0;
}

/* logo */
.menuBox .navbar .logoBrand {
	width: 212px;
	height: 156px;
	background: url('../img/01-header/logo-header.svg') no-repeat;
	position: absolute;
	top: 0;
}

.menuBox .navbar > ul{
	width: 868px;
	left: 212px;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	margin: 0;
	padding: 0;
}

.menuBox .navbar > ul > li {
	list-style: none;
	position: relative;
	line-height: 97px;
}

.menuBox .navbar > ul > li >a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #445519;
}

.menuBox .navbar > ul > li >a:after {
	content:"";
	width: 100px;
	height: 3px;
	background: #445519;
	
	opacity:0;
	transition:all 0.4s ease;
	
	position:absolute;
	top: 97px;
	left: -10px;
	margin-top: -3px;
}

.menuBox .navbar > ul > li:hover >ul {
	height: 100px;
}

.menuBox .navbar > ul > li > a:hover:after {
	opacity:1;
}

.menuBox .navbar > ul > li > ul {
	padding: 0;
	text-align: left;
	position: absolute;
	width: 150px;
	left: -10px;
	top: 97px;
	background-color: #fff;
	transition-duration: 0.5s;
	height: 0;
	overflow: hidden;
}

.menuBox .navbar > ul > li > ul > li {
	list-style: none;
	padding: 10px 15px;
	line-height: 1.5;
}

.menuBox .navbar > ul > li > ul > li > a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #445519;
}

.menuBox .navbar > ul > li > ul > li:hover {
	background: #6E8028;
	transition:all 0.4s ease
}

.menuBox .navbar > ul > li > ul > li:hover a {
	color: #fff;
	transition:all 0.4s ease
}


/* 形象輪播 */
.swiper-container-fade {
	width: 100%;
	height: 700px;
	padding-top: 97px;
}


/* 關於心安 */
.about-idea, .about-organic {
	display: flex;
	flex-direction: row;
	padding: 0  0 80px 0;
	box-sizing: border-box;
}

.about-idea .about-word, .about-organic .about-word{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 50px;
}

.about-idea .about-word > p ,.about-organic .about-word > p{
	line-height: 1.5;
}

.about-idea .about-word > h3, .about-organic .about-word > h3 {
	margin-bottom: 10px;
}

.about-idea .about-img {
	background: url('../img/02-about/about-01.jpg') no-repeat;
	width: 60%;
	height: 370px;
	background-size: cover;
}

.about-organic .about-img {
	background: url('../img/02-about/about-02.png') no-repeat;
	width: 60%;
	height: 502px;
	background-size: contain;
}


/* 最新消息 */
.news {
	background-color: #E0E4D6;
	margin: auto;
	padding: 0 0 70px 0;
}

.news .container {
	display: flex;
	flex-wrap: wrap;
}

.news .container .clearfix {
	width: 25%;
	margin: 20px auto 0;
	padding: 10px;
	overflow: hidden;
}


.news .container a {
	color: #000;
	text-decoration: none;
	position: relative;
}

.news .container.clearfix img:after {
	content: '';
    position: absolute;
    top: 271px;
    left: 0px;
    width: 21px;
    height: 3px;
    background: url('../img/03-news/bd_parts.png') left 0 no-repeat,#000 url('../img/03-news/bd_parts.png') right 0 no-repeat;
}

.news .container.clearfix img:before {
    content: '';
    position: absolute;
    top: 266px;
    left: 15px;
    z-index: 1;
    height: 8px;
    width: 0;
    background: url('../img/03-news/btn_arw_bl.png') 100% 0 no-repeat;
    transition: 0.4s width cubic-bezier(0.165, 0.84, 0.44, 1);
}

.news .container img {
	max-width: 100%;
	margin: 10px 0 30px 0;
	background-color: #fff;
	box-sizing: border-box;
}

/* .news .container a:hover {
	opacity: 0.8;
}
 */



/* 最新消息-閱讀更多按鈕 */
.news-more {	
	text-align: center;
	margin: 50px auto 0;
}

.news-more a{
	font: 25px;
	font-weight: bold;
	color: #000;	
	border: solid 3px #293010;
	padding: 18px 100px 18px;
	text-decoration: none;
	display: inline-block;
}

.news-more a:hover {
	color: #fff;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #293010;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover {
  color: white;
}
.hvr-sweep-to-right:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* 活動體驗 */
.activity .inner {
	max-width: 1500px;
	margin: 0 auto;
	font-size: 0;
	letter-spacing: 0;
}

.activity .inner .box {
	display: inline-block;
	width: 50%;
	height: 500px;	
	margin: 0;
	padding: 0 0 180px;
	text-align: center;
	position: relative;
	vertical-align: top;
	overflow: hidden;
}

.activity .inner .box hgroup{
	padding: 30px 0 0;
	height: 280px;
	margin: 0 0 -30px;
	position: relative;
	z-index: 3;
	transition: all 0.2s 0s ease;
	-webkit-transition: all 0.2s 0s ease;
	-moz-transition: all 0.2s 0s ease;
	background: #858D80;
}



.activity .inner .box a {
	display: block;
	text-decoration: none;
	background: #858D80;
}


.activity .inner .box a:hover hgroup {
	height: 260px;
	padding: 15px 0;
	margin: 0;
	background: #CFD3C5;
}

.activity .inner .box.harvest hgroup {
	background: #A0A990;
}

.activity .inner .box.harvest hgroup:before {
	border-color: #A0A990 transparent transparent transparent;

}

.activity .inner .box h2 {
	margin: 5px 0 8px;
	line-height: 1.2;
	font-weight: bold;
	color: #FFF;
	font-size: 32px;
	letter-spacing: 0.1em;
	font-weight: 400;
}

.activity .inner .box h2 img {
	display: block;
	margin: 0 auto 15px;
	border: none;
    vertical-align: bottom;
}

.activity .inner .box h3 {
    font-size: 25px;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin: 0;
    color: #293010;
 }

.activity .inner .box hgroup:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 30px 0 30px;
	border-color: #858D80 transparent transparent transparent;
	position: absolute;
	left: 50%;
	bottom: -28px;
	margin: 0 0 0 -28px;
	transition: all 0.2s 0s ease;
	-webkit-transition: all 0.2s 0s ease;
	-moz-transition: all 0.2s 0s ease;
}

.activity .inner .box a:hover hgroup:before{
	border-color: #CFD3C5 transparent transparent transparent;
}


.activity .inner .box hgroup:after {
	content: '';
	background: url('../img/04-activity/arrow.png') no-repeat;
	display: block;
	width: 20px;
	height: 15px;
	position: absolute;
	left: 50%;
	bottom: -15px;
	margin: 0 0 0 -8px;
}

.activity .inner .box .thumbnail {
	height: 280px;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all 0.2s 0s ease;
	-webkit-transition: all 0.2s 0s ease;
	-moz-transition: all 0.2s 0s ease;
	width: 100%;
}

.activity .inner .box a:hover .thumbnail {
	height: 300px;
}


/* 生態環境 */
.swiper-container{
	width: 100%;
	height: 700px;
}

.swiper-slide {
	font-family: Helvetica, Arial, source-han-serif-tc , 微軟正黑體, sans-serif;
	color: #fff;
	letter-spacing: 2px;
	text-align: center;
	background-position: center;
	background-size: cover;
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}





/* 生態環境-按鈕設定 */
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	background-image: url('../img/05-environment/right-arrow.svg');
	right: 30px;
	left: auto;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -22px;
    opacity: 0.6;
    z-index: 10;
    cursor: pointer;
    background-size: 60px 60px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-image: url('../img/05-environment/left-arrow.svg');
	left: 30px;
	right: auto;
}

/* 生態環境-頁面按鈕設定 */
.swiper-pagination-bullet-active {
	opacity: 0.8;
	background: #F2EDC9;
}

.swiper-pagination-bullet {
	width: 20px;
	height: 20px;

}


/* 有機商品 */
.product  {
	background: url('../img/06-product/product-bg.png');

}

#nav-main-tab{
    background-color: #E1E2D7;
    color: #293010;
    font-weight: bold;
}

#nav-vegetable-tab{
    background-color: #C5C99B;
    color:#293010;
    font-weight: bold;
}

#nav-fruit-tab{
    background-color: #ECECDC;
    color: #293010;
    font-weight: bold;
}




/* 農產訂購 */
.order .containerWide{
	width: 100%;
}

.order-img {
	background: url('../img/07-order/order.png') no-repeat;
	-webkit-clip-path: polygon(0 0, 63% 0, 98% 100%, 0 100%);
	clip-path: polygon(0 0, 63% 0, 98% 100%, 0 100%);
	width: 60%;
	height: 600px;
	background-size: cover;
	float: left;
}

.order-word {
	width: 40%;
	height: 600px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

.order-word img{
	float: left;
	margin-right: 20px;
}



/* 聯絡我們 */
.contact {
	margin-top: 80px;
	background-color: #5E6835;
	color: #fff;
}

.contact .contact-section {
	padding: 0 0 50px 0;
	height: 450px;
	box-sizing: border-box;
}

.map {
	width: 50%;
	height: 100%;
	float: left;
}

.contact-icon {
	width: 28%;
	height: 100%;
	float: left;
	padding: 5px 30px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

.contact-icon a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}

.contact-icon img {
	vertical-align: middle;
	margin-right: 10px;
}


.contact-info {
	width: 22%;
	height: 100%;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}



/* 頁尾 */
.footer {
	background-color: #5F8023;
	box-sizing: border-box;
}

.footer .text {
	color: #fff;
	text-align: center;
	line-height: 1.5;
	padding: 30px 0;
}


/* 字體設定 */
.l-title {
	font-family: Helvetica, Arial, source-han-serif-tc , 微軟正黑體, sans-serif;
	font-size: 42px;
	margin: 0;
	text-align: center;
	padding: 50px 0;
	font-weight: bold;
}

.l-titleSmall {
	font-size: 30px;
	margin: 0;
	font-weight: bold;
}

.text {
	margin: 0;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 2px;
}

.textBig {
	margin: 0;
	font-size: 25px;
	letter-spacing: 2px;
}


/* 清除浮動 */
.clearfix{
	overflow: auto;
	zoom: 1; /* IE6 */
}