/* 全域調整器 */
*{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, 微軟正黑體, sans-serif;
}

/* anchor-navbar定位 */
.anchor {
	display: block;
	height: 79px; /* 高度與navbar相同, 用來補上被navbar覆蓋的高度 */
	margin-top: -79px; /* 高度與navbar相同, 將頁面內容拉近, 不要造成額外空白 */
	visibility: hidden; /* 隱藏 */
}

/* 字體設定 */
.title {
	/* font-family: Helvetica, Arial, source-han-serif-tc , 微軟正黑體, sans-serif; */
	font-size: 42px;
	margin: 0;
	padding: 50px 0;
	font-weight: bold;
}

.titleSmall {
	font-size: 30px;
	margin: 0;
	font-weight: bold;
}

/* back-to-top btn */
 .top_btn {
	 display: none;
	 background: url(../img/top-icon.svg);
	 width: 50px;
	 height: 50px;
	 background-size: cover;
	 position: fixed;
	 right: 20px;
	 bottom: 20px;
	 border-radius: 50%;
	 box-shadow: 0 3px 3px rgba(0,0,0,0.16);
	 z-index: 3;
 }

 /* 形象輪播 */
.swiper-container-fade {
	width: 100%;
	height: 700px;
	overflow:hidden;
}

.swiper-slide {
	background-position: right;
	background-size: cover;
  }

  /* 最新消息 */
.add_newsBackgroundColor {
	background-color: #E0E4D6;
}

.card {
	background: rgba(0,0,0,0)
}

.news a {
	text-decoration: none;
	color: #000;
}

/* 縮小效果 */
.grow_in {
    transition: all .2s ease-in-out;
}

.grow_in:hover {
	transform: scale(0.9);
}

/* 放大效果 */
.grow{
    transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
}

/* 最新消息-閱讀更多按鈕 */
.news .news-more {	
	text-align: center;
	margin: 10px auto 0;
}

.news .news-more a{
	font: 25px;
	font-weight: bold;
	color: #000;	
	border: solid 3px #293010;
	padding: 5px 100px 5px;
	text-decoration: none;
	display: inline-block;
}

.news .news-more a:hover {
	color: #fff;
}

.news .hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.news .hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #293010;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.news .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
	color: white;
}

.news .hvr-sweep-to-right:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* 活動體驗 */
.inner {
	max-width: 1500px;
	margin: 0 auto;
	font-size: 0;
	letter-spacing: 0;
}

.inner .box {
	display: inline-block;
	width: 50%;
	height: 500px;	
	margin: 0;
	padding: 0 0 180px;
	text-align: center;
	position: relative;
	vertical-align: top;
	overflow: hidden;
}

.inner .box hgroup{
	padding: 35px 0 0;
	height: 280px;
	margin: 0 0 -30px;
	position: relative;
	z-index: 2;
	transition: all 0.2s 0s ease;
	-webkit-transition: all 0.2s 0s ease;
	-moz-transition: all 0.2s 0s ease;
	background: #858D80;
}

.inner .box a {
	display: block;
	text-decoration: none;
	background: #858D80;
}

.inner .box a:hover hgroup {
	height: 260px;
	padding: 15px 0;
	margin: 0;
	background: #CFD3C5;
}

.inner .box.harvest hgroup {
	background: #A0A990;
}

.inner .box.harvest hgroup:before {
	border-color: #A0A990 transparent transparent transparent;
}

.inner .box h2 {
	font-weight: bold;
	color: #FFF;
	font-size: 28px;
	letter-spacing: 0.1em;
	font-weight: 400;
}

.inner .box h2 img {
	display: block;
	margin: 0 auto 15px;
	border: none;
}

.inner .box p {
    font-size: 20px;
    letter-spacing: 0.1em;
    margin: 0;
    color: #293010;
 }

.inner .box hgroup:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 30px 0 30px;
	border-color: #858D80 transparent transparent transparent;
	position: absolute;
	left: 50%;
	bottom: -28px;
	margin: 0 0 0 -28px;
	transition: all 0.2s 0s ease;
	-webkit-transition: all 0.2s 0s ease;
	-moz-transition: all 0.2s 0s ease;
}

.inner .box a:hover hgroup:before{
	border-color: #CFD3C5 transparent transparent transparent;
}

.inner .box hgroup:after {
	content: '';
	background: url('../img/04-activity/arrow.png') no-repeat;
	display: block;
	width: 20px;
	height: 15px;
	position: absolute;
	left: 50%;
	bottom: -15px;
	margin: 0 0 0 -8px;
}

.inner .box .thumbnail {
	height: 280px;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all 0.2s 0s ease;
	-webkit-transition: all 0.2s 0s ease;
	-moz-transition: all 0.2s 0s ease;
	width: 100%;
}

.inner .box a:hover .thumbnail {
	height: 300px;
}

/* 生態環境 */
.swiper-container{
	width: 100%;
	height: 700px;
}

.swiper-slide {
	font-family: Helvetica, Arial, source-han-serif-tc , 微軟正黑體, sans-serif;
	color: #fff;
	letter-spacing: 2px;
	text-align: center;
	background-position: center;
	background-size: cover;
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

/* 生態環境-按鈕設定 */
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	background-image: url('../img/05-environment/right-arrow.svg');
	right: 30px;
	left: auto;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -22px;
    opacity: 0.6;
    z-index: 2;
    cursor: pointer;
    background-size: 60px 60px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-image: url('../img/05-environment/left-arrow.svg');
	left: 30px;
	right: auto;
}

/* 生態環境-頁面按鈕設定 */
.swiper-pagination-bullet-active {
	opacity: 0.8;
	background: #F2EDC9;
}

.swiper-pagination-bullet {
	width: 20px;
	height: 20px;
}

/* 有機商品 */
.add_produvtBackground {
	background: url('../img/06-product/product-bg.png');
}

#mainFood-tab{
    background-color: #E1E2D7;
    color: #293010;
    font-weight: bold;
}

#vegetable-tab{
    background-color: #C5C99B;
    color:#293010;
    font-weight: bold;
}

#fruit-tab{
    background-color: #ECECDC;
    color: #293010;
    font-weight: bold;
}

#mainFood_info {
    background-color: #E1E2D7;
}

#vegetable_info {
    background-color: #C5C99B;
}

#fruit_info {
    background-color: #ECECDC;
}

/* 有機商品-underslider */
#mainFood_info .product-scroll, #vegetable_info .product-scroll, #fruit_info .product-scroll{
	display: none;
}

#mainFood_info .product-scroll > ul > li, #vegetable_info .product-scroll > ul > li, #fruit_info .product-scroll > ul > li {
	list-style: none;
}

@media only screen and (max-width: 371px) {
	#mainFood_info .product-scroll, #vegetable_info .product-scroll, #fruit_info .product-scroll {
		display: block;
	}

	#mainFood_info .product-normal, #vegetable_info .product-normal, #fruit_info .product-normal {
		display: none;
	}
}

/* 農產訂購 */
.containerWide{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.order-img {
	background: url('../img/07-order/order.png') no-repeat;
	-webkit-clip-path: polygon(0 0, 63% 0, 98% 100%, 0 100%);
	clip-path: polygon(0 0, 63% 0, 98% 100%, 0 100%);
	width: 60%;
	height: 600px;
	background-size: cover;
	background-position: bottom;
	float: left;
}

.order-word {
	width: 40%;
	height: 600px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.order-word img{
	float: left;
	margin-right: 20px;
}

/* 聯絡我們 */
.add_contackBackgroundColor {
	background-color: #5E6835;
}

.contact {
	color: #fff;
}

.fb a, .ig a {
	text-decoration: none;
	color: #fff;
}

/* 頁尾 */
.footer {
	background-color: #5F8023;
	color: #fff;
	box-sizing: border-box;
}


 /* RWD調整 */
@media only screen and (max-width: 1100px) {
	body{
		padding-top: 80px;
	}
}

@media (max-width: 768px) {
	.swiper-container-fade {
		height: 450px;
	}

	.inner .box a{
		display: table-cell;
	}

	.inner .box {
		display: table;
		width: 100% !important;
		height: 70px;
		margin: 0;
		padding: 0;
		text-align: center;
		position: relative;
		vertical-align: top;
	}

	.inner .box hgroup {
		padding: 45px 50px 0 130px;

	}

	.inner .box a:hover hgroup {
		height: 180px;
		padding: 45px 50px 0 130px;
		margin: 0;
		background: #CFD3C5;
	}

	.inner .box hgroup {
		height: 180px;
		margin: 0;
	}

	.inner .box hgroup:after {
		content: '';
		background: url('../img/04-activity/arrow-right.svg') no-repeat;
		background-size: 16px auto;
		display: block;
		width: 16px;
		height: 23px;
		position: absolute;
		left: auto;
		right: 20px;
		top: 45%;
		bottom: auto;
		margin: -5px 0 0;
	}

	.inner .box h2 img{
		position: absolute;
		width: 100px;
		left: 20px;
		top: 20%;
		margin: 0;
	}
	
	.order-img, .order-word{
		width: 100%;
	}

	.order-img {
		height: 450px;
	}

	.order-word .order-sheet, .order-word .order-memo {
		padding: 30px 20px;
	}
}

@media (max-width: 576px){
	.inner .box h2 {
	font-size: 20px;
	}

	.inner .box p {
	font-size: 16px;
 	}
}
