#mainFood-tab{
    background-color: #E1E2D7;
    color: #293010;
    font-weight: bold;
}

#vegetable-tab{
    background-color: #C5C99B;
    color:#293010;
    font-weight: bold;
}

#fruit-tab{
    background-color: #ECECDC;
    color: #293010;
    font-weight: bold;
}

#mainFood_info {
    background-color: #E1E2D7;
}

#vegetable_info {
    background-color: #C5C99B;
}

#fruit_info {
    background-color: #ECECDC;
}